<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="">
          ITAB
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="">
          About Us
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href=""> Blog </a>
      </li>
    </ul>
    <div class=" copyright">
      &copy; {{ test | date: "yyyy" }} made with
      <i class=" tim-icons icon-heart-2"> </i> by
      <a href="" target="_blank"> ITAB </a>
      for a better web.
    </div>
  </div>
</footer>
