.spinner {
    width: 70px;
    height: 18px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 60%;
    z-index: 1;
    margin-top: -50px;
    margin-left: -50px;
    >div {
      width: 18px;
      height: 18px;
      margin: 0 .1rem;
      background-color: rgb(255, 238, 5);
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      &.bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
      }
      &.bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
      }
    }
  }
  
  @media (min-width: 767.98px) {
    .spinner {
      width: 82px;
      height: 24px;
      >div {
        width: 24px;
        height: 24px;
      }
    }
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0)
    }
    40% {
      -webkit-transform: scale(1.0)
    }
  }
  
  @keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}