<div class=" content">
  <div class=" row" style="text-align: -webkit-center">
    <div class=" col-12">

        <table style="width: 100%;" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="Score">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Score </th>
              <td mat-cell *matCellDef="let element"> {{element.score}} </td>
            </ng-container>
            <ng-container matColumnDef="Interval Speed">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Streaming Speed </th>
              <td mat-cell *matCellDef="let element">{{element.speed}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="Date of Test">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Test </th>
              <td mat-cell *matCellDef="let element">{{ element.date.seconds * 1000 | date:'MM-dd-yyyy' }}</td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="Gender">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
              <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="Nationality">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nationality </th>
              <td mat-cell *matCellDef="let element" > {{element.nationality}} </td>
            </ng-container>
            <ng-container matColumnDef="Age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
                <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
      
    </div>
  </div>
</div>