<div class=" content">
  <div style="text-align: center; justify-content: center;" class=" row">
    <div class=" col-6">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Notifications </h4>
        </div>
        <div class=" card-body">
          <ngb-alert
            class=" alert-with-icon"
            data-notify="container"
            [type]="'info'"*ngIf="!staticAlertClosed1" [dismissible]="false">
              <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed1 = true">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            <span class=" tim-icons icon-bell-55" data-notify="icon">
            </span>
            <span data-notify="message">
              No Notifications yet.
            </span>
          </ngb-alert>
          
        </div>
      </div>
    </div>
  </div>
</div>
