<div class=" content">
    <div class=" row" style="text-align: -webkit-center">
      <div class=" col-12">

          <table style="width: 100%;" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
              <!-- Position Column -->
              <ng-container matColumnDef="Picture">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Picture </th>
                <td mat-cell *matCellDef="let element"> <img src="{{element.avatar}}" class="img-fluid" alt="Responsive image"> </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="Gender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
                <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="Nationality">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nationality </th>
                <td mat-cell *matCellDef="let element" > {{element.nationality}} </td>
              </ng-container>
              <ng-container matColumnDef="Age">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
                  <td mat-cell *matCellDef="let element"> {{element.age}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
        
      </div>
    </div>
</div>