.create-form {
    padding: 20px;
    -webkit-text-fill-color: white;

    .submit-button-container {
      justify-content: center;

      .submit-button{
        width: 100%;
      }
    }

    .input-style{
      width: 100%;
    }

    .mat-error {
      font-size: 12px;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      opacity: 1; /* Firefox */
    }
} 
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}