<div class=" content">
  <div class=" row">
    <div class=" col-12">
        <div class=" card card-chart">
            <div class=" card-header">
              <div class=" row">
                  <div class=" col-sm-12 text-center">
                      <h2 class=" card-title">Login with Email or Social Providers</h2>
                  </div>
              </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                      <form [formGroup]="loginForm">
                        <div class="form-group">
                          <label>Email address</label>
                          <input type="email" formControlName="email" class="form-control">
                        </div>
                        <div class="form-group">
                          <label>Password</label>
                          <input type="password" class="form-control" formControlName="password">
                          <label style="-webkit-text-fill-color: red;" class="error">{{errorMessage}}</label>
                        </div>
                        <button type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-default">Login</button>
                      </form>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                      <button type="button" class="btn btn-primary btn-block" (click)="tryFacebookLogin()">Login with Facebook</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                      <button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Login with Google</button>
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                      <p>No account yet? <a href="#/register">Create an account</a></p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
  </div>
</div>

