<div class=" content">
    <div class=" row" style="text-align: -webkit-center">
      <div class=" col-12">
        <div *ngIf="point==100">
            <h1>CONGRATULATIONS</h1>
            <h3>YOU HAVE GUESSED BOTH TARGETS CORRECTLY</h3>
        </div>
        <div *ngIf="point==50">
            <h1>GOOD JOB</h1>
            <h3>YOU HAVE GUESSED ONE OF TWO TARGETS CORRECTLY</h3>
        </div>
        <div *ngIf="point==0">
            <h1>OOPS</h1>
            <h3>YOU HAVE GUESSED NONE OF TWO TARGETS CORRECTLY</h3>
        </div>
        <div class="row">
        <div class="col">
          <p>Test again?</p>
          <a name="retry" class="btn btn-primary" (click)="goToTest()"><i class="fa fa-history fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="col">
          <p>Back to home</p>
          <a name="exit" class="btn btn-danger" (click)="goToDash()"><i class="fa fa-reply fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
      </div>
  </div>
</div>