.row{
    text-align: -webkit-center;
  }
  .img-avatar {
          border-radius: 50%;
          width: 150px;
          display: block;
          margin: 20px auto;
        }
    
  .change-img-button {
          display: block;
          margin: 0px auto;
        }
    
  .create-form {
          padding: 20px;
          -webkit-text-fill-color: white;
          width: 50%;
          background: radial-gradient(black, transparent);
          border-color: white;
          border-style: groove;
          text-align: center;
          .submit-button-container {
            justify-content: center;
    
            .submit-button{
              width: 100%;
            }
          }
    
          .input-style{
            width: 100%;
            text-align: center;
          }
          input{
            background-color: darkviolet;
            height: 48px;
          }
    
          .mat-error {
            font-size: 12px;
          }
  } 