<div class=" content">
  <div class=" row" style="text-align: -webkit-center">
    <div class=" col-12">
      <p>Can you recognize the target numbers?</p>
      <div class="card-body">
          <form style="width: 50%; text-align: center;" class="create-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">
              
    
              <div class="form-group ">
                <mat-form-field class="input-style">
                  <label for="answer1">Target 1</label>
                  <input matInput type="number" min="0" max="10" name="answer1" class="form-control" formControlName="answer1">
                </mat-form-field>
                <ng-container *ngFor="let validation of validation_messages.answer1">
                  <mat-error *ngIf="exampleForm.get('answer1').hasError(validation.type) && (exampleForm.get('answer1').dirty || exampleForm.get('answer1').touched)">{{validation.message}}</mat-error>
                </ng-container>
              </div>

              <div class="form-group ">
                <mat-form-field class="input-style">
                  <label for="answer2">Target 2</label>
                  <input matInput type="number" min="0" max="10" name="answer2" class="form-control" formControlName="answer2">
                </mat-form-field>
                <ng-container *ngFor="let validation of validation_messages.answer2">
                  <mat-error *ngIf="exampleForm.get('answer2').hasError(validation.type) && (exampleForm.get('answer2').dirty || exampleForm.get('answer2').touched)">{{validation.message}}</mat-error>
                </ng-container>
              </div>
    
              <div class="row submit-button-container">
                <div class="col-md-6">
                  <button style="height: 50px;" mat-raised-button class="submit-button btn btn-primary" color="primary" type="submit" [disabled]="!exampleForm.valid">Check Answers</button>
                </div>
              </div>
    
            </form>
    </div>
  </div>
</div>