<div class="logo">
  <!-- <a href="https://www.creative-tim.com?ref=bda-sidebar-logo" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/angular2-logo-white.png" />
    </div>
  </a> -->
  <a href="/" class="simple-text logo-normal">
    ITAB
  </a>
</div>
<div class="sidebar-wrapper">
  <ul *ngIf="isLoggedIn && isAdmin" class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItemsAdmin"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
  <ul *ngIf="isLoggedIn && !isAdmin" class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
  <ul *ngIf="!isLoggedIn" class="nav" style="text-align: center">
    <button type="button" routerLink="/login" class="btn btn-success">LOGIN</button>
    <div><span>-or-</span></div>
    <button type="button" routerLink="/register" class="btn btn-success">SIGN UP</button>

  </ul>
</div>
