
<div class=" content">
  <div [hidden]="!userId" class=" row">
      <div class="col-12">
          <div class=" card card-chart">
            <div class=" card-header">
              <h5 class=" card-category"></h5>
              <h3 class=" card-title">
                <i class=" tim-icons icon-user-run text-success"> </i> Personel Progress
              </h3>
            </div>
            <div class=" card-body">
              <div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>
            </div>
          </div>
        </div>
  </div>
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Test Results</h5>
              <h2 class=" card-title">Performance</h2>
              <h5 class=" card-title">By Age</h5>
            </div>
            <div class=" col-sm-6">
              <div
                class=" btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[0];updateOptions();clicked=true;clicked1=false;clicked2=false" [ngClass]="{'active':clicked===true}">
                  <input checked="checked" name="options" type="radio" />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Total Tests Done
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-single-02"> </i>
                  </span>
                </label>
                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[1];updateOptions();clicked=false;clicked1=true;clicked2=false" [ngClass]="{'active':clicked1===true}">
                  <input
                    class=" d-none d-sm-none"
                    name="options"
                    type="radio"
                  />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Highest Results
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-gift-2"> </i>
                  </span>
                </label>
                <!-- <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[2];updateOptions();clicked=false;clicked1=false;clicked2=true" [ngClass]="{'active':clicked2===true}">
                  <input class=" d-none" name="options" type="radio" />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Gender
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-tap-02"> </i>
                  </span>
                </label> -->
              </div>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartBig1"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <!-- <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Tests</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 763,215
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div>
        </div>
      </div>
    </div> -->
    <div class=" col-lg-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">TOTAL TEST DONE</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-globe-2 text-info"> </i> BY COUNTRY
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
        </div>
      </div>
    </div>
   
  </div>
  <div class=" row">
     <div class=" col-lg-12 col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Top Result by Country</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Country</th>
                  <th>Gender</th>
                  <th>Age</th>
                  <th class=" text-center">Result</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Turkmenistan</td>
                  <td>{{highestScoreByCountry['turkmenistan'].gender}}</td>
                  <td>{{highestScoreByCountry['turkmenistan'].age}}</td>
                  <td class=" text-center">{{highestScoreByCountry['turkmenistan'].result}}</td>
                </tr>
                <tr>
                  <td>Brazil</td>
                  <td>{{highestScoreByCountry['brazil'].gender}}</td>
                  <td>{{highestScoreByCountry['brazil'].age}}</td>
                  <td class=" text-center">{{highestScoreByCountry['brazil'].result}}</td>
                </tr>
                <tr>
                  <td>China</td>
                  <td>{{highestScoreByCountry['china'].gender}}</td>
                  <td>{{highestScoreByCountry['china'].age}}</td>
                  <td class=" text-center">{{highestScoreByCountry['china'].result}}</td>
                </tr>
                <tr>
                  <td>England</td>
                  <td>{{highestScoreByCountry['england'].gender}}</td>
                  <td>{{highestScoreByCountry['england'].age}}</td>
                  <td class=" text-center">{{highestScoreByCountry['england'].result}}</td>
                </tr>
                <tr>
                  <td>Egypt</td>
                  <td>{{highestScoreByCountry['egypt'].gender}}</td>
                  <td>{{highestScoreByCountry['egypt'].age}}</td>
                  <td class=" text-center">{{highestScoreByCountry['egypt'].result}}</td>
                </tr>
                <tr>
                  <td>India</td>
                  <td>{{highestScoreByCountry['india'].gender}}</td>
                  <td>{{highestScoreByCountry['india'].age}}</td>
                  <td class=" text-center">{{highestScoreByCountry['india'].result}}</td>
                </tr>
                <tr>
                  <td>Japan</td>
                  <td>{{highestScoreByCountry['japan'].gender}}</td>
                  <td>{{highestScoreByCountry['japan'].age}}</td>
                  <td class=" text-center">{{highestScoreByCountry['japan'].result}}</td>
                </tr>
                <tr>
                  <td>Malaysia</td>
                  <td>{{highestScoreByCountry['malaysia'].gender}}</td>
                  <td>{{highestScoreByCountry['malaysia'].age}}</td>
                  <td class=" text-center">{{highestScoreByCountry['malaysia'].result}}</td>
                </tr>
                <tr>
                  <td>USA</td>
                  <td>{{highestScoreByCountry['usa'].gender}}</td>
                  <td>{{highestScoreByCountry['usa'].age}}</td>
                  <td class=" text-center">{{highestScoreByCountry['usa'].result}}</td>
                </tr>
                <tr>
                  <td>Russia</td>
                  <td>{{highestScoreByCountry['russia'].gender}}</td>
                  <td>{{highestScoreByCountry['russia'].age}}</td>
                  <td class=" text-center">{{highestScoreByCountry['russia'].result}}</td>
                </tr>
                <tr>
                  <td>South Africa</td>
                  <td>{{highestScoreByCountry['south africa'].gender}}</td>
                  <td>{{highestScoreByCountry['south africa'].age}}</td>
                  <td class=" text-center">{{highestScoreByCountry['south africa'].result}}</td>
                </tr>
                <tr>
                  <td>Turkey</td>
                  <td>{{highestScoreByCountry['turkey'].gender}}</td>
                  <td>{{highestScoreByCountry['turkey'].age}}</td>
                  <td class=" text-center">{{highestScoreByCountry['turkey'].result}}</td>
                </tr>
                <tr>
                  <td>Thailand</td>
                  <td>{{highestScoreByCountry['thailand'].gender}}</td>
                  <td>{{highestScoreByCountry['thailand'].age}}</td>
                  <td class=" text-center">{{highestScoreByCountry['thailand'].result}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
