<div class=" content">
  <div class=" row" style="text-align: -webkit-center">
    <div class=" col-12">
        <div [hidden]="beginTestClick" style="margin-bottom:25px">
            <div style="display:block;"
                 [style.width]="width">
              <slideshow #slideshow
                         [imageUrls]="imageUrls"
                         [height]="height"
                         [minHeight]="minHeight"
                         [arrowSize]="arrowSize"
                         [showArrows]="showArrows"
                         [disableSwiping]="disableSwiping"
                         [autoPlay]="autoPlay"
                         [autoPlayInterval]="autoPlayInterval"
                         [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
                         [debug]="debug"
                         [backgroundSize]="backgroundSize"
                         [backgroundPosition]="backgroundPosition"
                         [backgroundRepeat]="backgroundRepeat"
                         [showDots]="showDots"
                         [dotColor]="dotColor"
                         [showCaptions]="showCaptions"
                         [captionColor]="captionColor"
                         [captionBackground]="captionBackground"
                         [lazyLoad]="lazyLoad"
                         [hideOnNoSlides]="hideOnNoSlides"
                         [fullscreen]="fullscreen"
                         [autoPlayWaitForLazyLoad]="true"
                         >
              </slideshow>
            </div>
          </div>
          <div [hidden]="instruction">
              <h1>PLEASE WATCH THE INSTRUCTION VIDEO BEFORE TEST!</h1>
              <!-- <h3>The Attentional Blink Phenomenon</h3>
                <p>People have a difficulty observing 
                  the target when it follows a non-target and the time between the first and second 
                  stimulus is between 0 and 200 ms</p> -->
              <iframe width="80%" height="470" src="https://www.youtube.com/embed/VGi4pmG_2e0" 
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
              </iframe>
                
                
                <!-- <div class="description">
                    <h3>
                        HOW THE TESTING WORKS:
                    </h3>
                    <p>This experiment is designed to investigate the speed of human attention. 
                      Each trial will be more or less the same. You will see a screen with input field to set the speed of streaming. 
                      The screen will remain so until you press the "Begin Test" button to initiate a trial. 
                      Once a trial is initiated, you will see a series of letters appear rapidly 
                      in the center of the screen. Two numbers will appear embedded 
                      between the letters. They will appear in random positions, and not necessarily 
                      immediately after one another. Your task is to pay close attention to the sequence of letters, 
                      and to try to recognize the two letters that appear. At the end of a trial, you will be prompted to 
                      input the numbers that you think appeared, and in the order that you think you saw them, 
                      the first one first, followed by the second. It is very important, however, that you do your best. 
                      If you are uncertain about the identity of a number in any trial, just guess. Any questions?</p>
                </div> -->
                <div>
                    <button (click)="next()" type="button" class="btn btn-primary btn-customized">
                        <i class="fas fa-play"></i>
                        <p> Next</p>
                    </button>
                </div>
          </div>
          <div [hidden]="setupClosed">
                <table style="text-align: center; width: 60%;" id="config">
                    
                      <h2>Please setup stream speed for testing </h2>
                      <p>Note: The Attentional Blink is defined as having occurred when Target1 is reported correctly 
                          but report of Target2 is inaccurate at short intervals, typically between ~100 to 200 ms</p>
                    
                    <tr class="col col-6">
                      <!-- <form [formGroup]="exampleForm" novalidate > -->
                      <!-- <input id="autoPlayInterval"
                               type="number"
                               name="autoPlayInterval"
                               [(ngModel)]="autoPlayInterval"
                               max="300"> -->
                      <!-- </form> -->
                      <div class="input-group mb-3">
                        <select class="custom-select" (change)="setSpeed($event.target.value)" id="autoPlayInterval">
                          <option selected>Choose...</option>
                          <option  value="70"> 70 </option>
                          <option  value="90"> 90 </option>
                          <option  value="120">120 </option>
                          <option  value="150">150 </option>
                        </select>
                        <div style="height: 38px;" class="input-group-append">
                          <label class="input-group-text" for="inputGroupSelect02">.ms</label>
                        </div>
                      </div>
                    </tr>
                </table>
                <div>
                    <button (click)="beginTest()" type="button" class="btn btn-primary btn-customized">
                        <i class="fas fa-play"></i>
                        <p> Begin Test</p>
                    </button>
                </div>
              
         </div>
        
          
       
          <!-- <table id="config">
            <tr>
              <td>
                <label for="height">height</label>
              </td>
              <td>
                <input id="height"
                       name="height"
                       [(ngModel)]="height">
              </td>
              <td>
                <label for="minHeight">minHeight</label>
              </td>
              <td>
                <input id="minHeight"
                       name="minHeight"
                       [(ngModel)]="minHeight">
              </td>
            </tr>
            <tr>
              <td>
                <label for="arrowSize">arrowSize</label>
              </td>
              <td>
                <input id="arrowSize"
                       name="arrowSize"
                       [(ngModel)]="arrowSize">
              </td>
              <td>
                <label for="showArrows">showArrows</label>
              </td>
              <td>
                <input id="showArrows"
                       type="checkbox"
                       name="showArrows"
                       [(ngModel)]="showArrows">
              </td>
            </tr>
            <tr>
              <td>
                <label for="disableSwiping">disableSwiping</label>
              </td>
              <td>
                <input id="disableSwiping"
                       type="checkbox"
                       name="disableSwiping"
                       [(ngModel)]="disableSwiping">
              </td>
              <td>
                <label for="autoPlay">autoPlay</label>
              </td>
              <td>
                <input id="autoPlay"
                       type="checkbox"
                       name="autoPlay"
                       [(ngModel)]="autoPlay">
              </td>
            </tr>
            <tr>
              <td>
                <label for="autoPlayInterval">autoPlayInterval</label>
              </td>
              <td>
                <input id="autoPlayInterval"
                       type="number"
                       name="autoPlayInterval"
                       [(ngModel)]="autoPlayInterval">
              </td>
              <td>
                <label for="stopAutoPlayOnSlide">stopAutoPlayOnSlide</label>
              </td>
              <td>
                <input id="stopAutoPlayOnSlide"
                       type="checkbox"
                       name="stopAutoPlayOnSlide"
                       [(ngModel)]="stopAutoPlayOnSlide">
              </td>
            </tr>
            <tr>
              <td>
                <label for="debug">debug</label>
              </td>
              <td>
                <strong>debug has been deprecated, will be completely removed in 1.3.0</strong>
              </td>
              <td>
                <label for="backgroundSize">backgroundSize</label>
              </td>
              <td>
                <input id="backgroundSize"
                       name="backgroundSize"
                       [(ngModel)]="backgroundSize">
              </td>
            </tr>
            <tr>
              <td>
                <label for="backgroundPosition">backgroundPosition</label>
              </td>
              <td>
                <input id="backgroundPosition"
                       name="backgroundPosition"
                       [(ngModel)]="backgroundPosition">
              </td>
              <td>
                <label for="backgroundRepeat">backgroundRepeat</label>
              </td>
              <td>
                <input id="backgroundRepeat"
                       name="backgroundRepeat"
                       [(ngModel)]="backgroundRepeat">
              </td>
            </tr>
            <tr>
              <td>
                <label for="showDots">showDots</label>
              </td>
              <td>
                <input id="showDots"
                       type="checkbox"
                       name="showDots"
                       [(ngModel)]="showDots">
              </td>
              <td>
                <label for="dotColor">dotColor</label>
              </td>
              <td>
                <input id="dotColor"
                       name="dotColor"
                       [(ngModel)]="dotColor">
              </td>
            </tr>
            <tr>
              <td>
                <label for="captionColor">captionColor</label>
              </td>
              <td>
                <input id="captionColor"
                       name="captionColor"
                       [(ngModel)]="captionColor">
              </td>
              <td>
                <label for="captionBackground">captionBackground</label>
              </td>
              <td>
                <input id="captionBackground"
                       name="captionBackground"
                       [(ngModel)]="captionBackground">
              </td>
            </tr>
            <tr>
              <td>
                <label for="showCaptions">showCaptions</label>
              </td>
              <td>
                <input id="showCaptions"
                       type="checkbox"
                       name="showCaptions"
                       [(ngModel)]="showCaptions">
              </td>
            </tr>
            <tr>
              <td>
                <label for="width">width*</label>
              </td>
              <td>
                <input id="width"
                       name="width"
                       [(ngModel)]="width">
              </td>
              <td>
                <label for="fullscreen">fullscreen</label>
              </td>
              <td>
                <input id="fullscreen"
                       type="checkbox"
                       name="fullscreen"
                       [(ngModel)]="fullscreen">
              </td>
            </tr>
            <tr>
              <td>
                <label for="enableZoom">enableZoom</label>
              </td>
              <td>
                <input id="enableZoom"
                       type="checkbox"
                       name="enableZoom"
                       [(ngModel)]="enableZoom">
              </td>
              <td>
                <label for="enablePan">enablePan</label>
              </td>
              <td>
                <input id="enablePan"
                       type="checkbox"
                       name="enablePan"
                       [(ngModel)]="enablePan">
              </td>
            </tr>
          </table>
          <p style="text-align:center">
            *This is not an option on the slideshow, it automatically adjusts to the width of its container.
          </p> -->
    </div>
  </div>
</div>